<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova_plugin_sw"
        version="0.7.0">

  <name>cordova_plugin_sw</name>

  <asset src="www/cordova_plugin_sw.js" target="js/cordova_plugin_sw.js"/>

  <js-module src="www/cordova_plugin_sw.js" name="cordova_plugin_sw">
    <clobbers target="cordova_plugin_sw" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="cordova_plugin_sw">
        <param name="ios-package" value="cordova_plugin_sw" />
      </feature>
    </config-file>

    <source-file src="src/ios/cordova_plugin_sw.swift" />
  </platform>

</plugin>